<div class="pagination">
    <span class="step-links">
      {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Anterior</a>
      {% endif %}
      <span class="current">
        Pag. {{ page.number }} de {{ page.paginator.num_pages }}
      </span>
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Próximo</a>
      {% endif %}
    </span>
  </div>