{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Publicado {{ post.publish }} por {{ post.author }}
  </p>
  {{ post.body|markdown }}
  <p>
      <a href="{% url "blog:post_share" post.id %}">
          Compartilhe este post
      </a>
  </p>
  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comentário{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comentário {{ forloop.counter }} por {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Não existem comentários</p>
  {% endfor %}
  <h2>Posts similares</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    Não há posts similares
  {% endfor %}
  {% if new_comment %}
    <h2>Seu comentário foi adicionado!</h2>
  {% else %}
    <h2>Adicione um novo comentário</h2>
    <form method="POST">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Adicionar"></p>
    </form>
  {% endif %}
{% endblock %}