{% extends "blog/base.html" %}

{% block title %}Compartilhar o post{% endblock %}

{% block content %}
  {% if sent %}
    <h1>E-mail enviado com sucesso</h1>
    <p>
      "{{ post.title }}" foi enviado com sucesso para {{ form.cleaned_data.to }}.
    </p>
  {% else %}
    <h1>Compartilhe "{{ post.title }}" por e-mail</h1>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Send e-mail">
    </form>
  {% endif %}
{% endblock %}